{% extends "./base_teacher.html.twig"  %}

{% block content %}
    {% if class is empty%}
        <div class="row justify-content-center"><h1> Je hebt nog geen mentor klas</h1></div>
    {% else %}
        <div class="row justify-content-center"><h1> {{ class.name }}</h1></div>
        <div class="row justify-content-center text-center">
            <div class="col-10">
                <h4>jouw motto voor je mentorklas</h4>
                {% if class.mentor.motto is empty %}
                    <h4 class="bg-light">plaats hier aansturende informatie voor je mentor leerlingen</h4>
                {% else %}
                    <h4 class="bg-light text-left p-2">{{ class.mentor.motto|raw }}</h4>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if class.users is empty %}
                <h1 class="col-12 text-center display-4">klas is nog leeg</h1>
            {% else %}
            {{include ('teacher/includes/pupilsforloop.incl.twig',{pupils:class.users}) }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}