{% extends './base_teacher.html.twig' %}

{% block content %}
    <div class="col-10 justify-content-center">
        <h1>vul je nieuwe wachtwoord 2&times; in:</h1>
        {{ form(form) }}
    </div>
{% endblock %}