{% extends 'base_principal.html.twig' %}

{% block content %}
    <h1 >Voeg een nieuw teamlid/nieuwe leerling toe</h1>
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}

