{% extends "./base_admin.html.twig"  %}

{% block content %}
    <div class = row><h1 class="col-12 display-4">ZOEKRESULTATEN VOOR: {{ searchvalue }}</h1></div>
    <div class="row ml-2" >
 {{ include( 'admin/includes/pupilsforloop.incl.twig') }}
    </div>
{% endblock %}