{% extends "./base_pupil.html.twig"  %}

{% block content %}
    <div class = row><h1 class="col-12 display-4">ZOEKRESULTATEN VAN: {{ searchvalue }}</h1></div>
    <div class="row ml-2" >
        {{ include ('pupil/includes/usersforloop.incl.twig') }}
    </div>
{% endblock %}