{% extends './base_user.html.twig' %}

{% block class %}
    <div class="justify-content-center col-12">
        <h1>vul je nieuwe wachtwoord 2x in:</h1>
        {{ form(form) }}
    </div>
{% endblock %}